In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Leitura Arquivo

In [18]:
# Lendo uma base de dados no formato .csv.
# o parâmetro sep é usado para definir qual o separador entre os dados.
# o parâmetro header informo em qual linha está minhas colunas ou se elas não existem.
# Se não existe colunas (header=None) o pandas dará um número para cada atributo da base.
arquivo = 'kc_house_data.csv'
df = pd.read_csv(arquivo, sep=',' ,header=0)
#poderia usar o atributo usecols e inserir em uma lista [], as colunas que deseja ler

# Consultas a Base

In [6]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21609.000000,21613.000000,21613.000000,2.161300e+04,21612.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370910,2.114757,2079.899736,1.510697e+04,1.494332,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930084,0.770163,918.440897,4.142051e+04,0.539991,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [7]:
#Quantos missings há nas colunas
df.isna().sum()

id               0
date             0
price            0
bedrooms         4
bathrooms        0
sqft_living      0
sqft_lot         0
floors           1
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [48]:
#tipos das colunas
df.dtypes

id                 int64
date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
size             float64
dtype: object

In [50]:
df.columns.tolist() #exportar nome das colunas para usar nos codigos

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15',
 'size']

In [52]:
#convertendo tipo de dado
df.price = df.price.astype('int64')

In [12]:
import pandas_profiling

In [ ]:
pandas_profiling.ProfileReport(df)

In [28]:
# Conta a quantidade de valores únicos
pd.value_counts(dataset['bedrooms'])

3.0     9822
4.0     6881
2.0     2759
5.0     1601
6.0      272
1.0      199
7.0       38
8.0       13
0.0       13
9.0        6
10.0       3
11.0       1
33.0       1
Name: bedrooms, dtype: int64

In [43]:
# Usando o método loc() junto com o operador &
# Consulta imóveis com 3 quartos e com o número de banheiros maior que 2
df.loc[(dataset['bedrooms']==3) & (dataset['bathrooms'] > 2)]

In [ ]:
# Usando metodo loc() para selecionar linhas e colunas
df.loc[0:4,'bedrooms':'bathrooms'] #de 0 até 4 e de bedrooms ate bathrooms
df.loc[[0, 3], ['bedrooms', 'bathrooms']] #uma lista de linhas e colunas

In [ ]:
#concatenando consultas de loc
pd.concat([df.loc[:,'A':'E'], df.loc[:,'T'])

In [ ]:
#facilitando a filtragem por criterios no data frame
criterio1 = df.X == 'A'
criterio2= df.Y > 200
criterio3= df.Z < 30
df[criterio1 & criterio2 & criterio3]

In [42]:
# O método sort_values() ordena o dataset pela coluna 'price' em ordem descrescente.
# Apenas o retorno da query será ordenado, não a organização do dataset.
df.sort_values(by='price', ascending=False)

In [40]:
# Esse método retorna o valor de simetria de cada coluna do dataset.
# Um valor zero indica uma distribuição simétrica
# Um valor maior que zero ou menor indica uma distribuição assimétrica.
# Valores acima de zero podemos dizer que existe uma assimetria positiva 
# Valores abaixo de zero uma assimetria negativa.
# Isso quer dizer que valores muito acima de zero indicam que existem mais valores acima da média
# valores abaixo de zero significa que contém mais valores abaixo da média.
dataset.skew()

id                0.241219
price             4.023548
bedrooms          0.711008
bathrooms         0.522909
sqft_living       1.494154
sqft_lot         13.135626
floors            0.603725
waterfront       11.508145
view              3.394003
condition         1.050428
grade             0.827983
sqft_above        1.456524
sqft_basement     1.566030
yr_built         -0.479315
yr_renovated      4.571938
zipcode           0.413865
lat              -0.484018
long              0.866574
sqft_living15     1.104438
sqft_lot15        9.586147
size              0.711008
dtype: float64

In [44]:
# Imprime a correlação de spearman de algumas colunas
dataset[['bedrooms','bathrooms','sqft_living','floors','waterfront','grade','price']].corr('spearman')

,bedrooms,bathrooms,sqft_living,floors,waterfront,grade,price
bedrooms,1.000000,0.510693,0.639590,0.221434,-0.004371,0.369085,0.337027
bathrooms,0.510693,1.000000,0.741053,0.545597,0.053701,0.653971,0.493722
sqft_living,0.639590,0.741053,1.000000,0.396822,0.074695,0.712755,0.642368
floors,0.221434,0.545597,0.396822,1.000000,0.025879,0.498786,0.319479
waterfront,-0.004371,0.053701,0.074695,0.025879,1.000000,0.065809,0.116473
grade,0.369085,0.653971,0.712755,0.498786,0.065809,1.000000,0.657123
price,0.337027,0.493722,0.642368,0.319479,0.116473,0.657123,1.000000

In [45]:
# Tabelas Pivot são úteis para fazer agrupamento nos dados.
# Conta a quantidade de imóveis agrupados pelas colunas waterfront e floors.
# O parametro index informo as colunas que serão usadas para agregação.
# o parâmetro aggfunc é usado para definir a função de agregação, que poderia ser uma média por exemplo.
# O parâmetro margins=True calcula a quantidade total no final da tabela.
dataset.pivot_table('id',index=["waterfront","floors"], aggfunc='count',margins=True)

                      id
waterfront floors
0          1.0     10458
           1.5      1869
           2.0      8145
           2.5       158
           3.0       600
           3.5         7
1          1.0        53
           1.5        20
           2.0        75
           2.5         2
           3.0         8
All                21395

In [46]:
# Crosstab ou tabulação Cruzada
# Essa funcionalidade cruza valores das variáveis
# Nesse exemplo podemos ver qual a distribuição dos imóvies por número de quartos com relação a sua condição
pd.crosstab(dataset['bedrooms'],dataset['condition'])

condition   1   2     3     4    5
bedrooms
2.0        12  51  1779   716  200
3.0         8  69  6306  2711  728
4.0         4  36  4579  1682  580
5.0         0   1  1031   418  151
6.0         1   3   158    87   23
7.0         0   0    25     9    4
8.0         0   0     8     3    2
9.0         0   0     6     0    0
10.0        0   0     1     2    0
11.0        0   0     1     0    0

In [12]:
#Index de maior valor
df.idmax()

In [13]:
#Obter os valores unicos de uma coluna
df['name'].unique()

In [66]:
#Filtrar valores por condicoes em uma lista
df[df.color.isin(['red', 'green', 'blue'])]

In [ ]:
#Numero de linhas por condicao
(df.coluna == "XY").sum()
#Porcentagem de linhas naquela condicao
(df.coluna > 200).mean()

In [ ]:
#Obter valores mais frequentes em uma coluna
valores_frequentes = counts.head(3).index #tras os 3 mais frequentes
#filtrar tabela por estes valores
df[df.variavel.isin(valores_frequentes)]

In [ ]:
#Selecao de variaveis pelo tipo
df.select _dtypes(include=['number', 'category', 'object'])

In [ ]:
#Agregar dados por varias funcoes
df.groupby('coluna').coluna_num.agg(['mean','count'])
#Agregar os dados por multiplas colunas
df.groupby('coluna').agg({'Col1':['mean','max']
                         'Col2': 'mean'})
#Ajustar o nome das colunas da agregacao por multiplas colunas
df.groupby('coluna').agg(col1_mean=('Col1','mean'),
                        col1_max=('Col1','max'),
                        col2_mean=('Col2','mean'))

# Alteração da Base

In [34]:
# Adicionando uma coluna ao Dataframe.
df['size'] = (df['bedrooms'] * 20)

In [35]:
# Criando uma função para processamento de dados.
def categoriza(s):
    if s >= 80:
        return 'Big'
    elif s >= 60:
        return 'Medium'
    elif s >= 40:
        return 'Small'

In [2]:
# Criando uma nova coluna a partir do processamento realizado.
dataset['cat_size'] = dataset['size'].apply(categoriza)

In [4]:
#Dropa a coluna
df.drop('Country', axis = 1)

In [37]:
# Dropa linhas maiores que 30
dataset.drop(dataset[dataset.bedrooms>30].index ,inplace=True)

In [38]:
# Remove-se todas as linhas onde tenha pela menos um registro faltante em algum atributo.
dataset.dropna(inplace=True)

In [10]:
#preenche com a media dos valores da coluns floors os values null
dataset['floors'].fillna(dataset['floors'].mean(), inplace=True)

In [11]:
#Renomear coluna
df.rename(columns = {df.columns[2]:'size'}, inplace=True)

In [ ]:
#Tornar outros valores como categorias outros
freq = df['x'].value_counts(normalize=True) #normalize mostra as frequencias de cada categoria
pequenas_freq = freq[freq<0.05].index
df['x'] = df['x'].replace[pequenas_freq, 'Outras']

In [ ]:
#Convertendo variavel em categorias (bandas)
df['X'] = pd.cut(df.Y, bins=[0, 18, 65, 99], labels=['a', 'b', 'c']) #bins sao os limites das categorias 0-18, 18-65, 65-99
df['X'] = pd.cut(df.Y, q=4, labels=['a', 'b', 'c']) #q gera o numero de classes desejado
df['X'] = pd.cut(df.Y, q=4)

In [ ]:
#One hot encode
pd.get_dummies(df)
# Mudar nome das observacoes
df['X'] = df.Y.map({'abc':'A','def':'B'}) #transforma abc em A, e def em B
#Transformar cada valor string em numerico
df['ColNumerico'] = df.colstring.factorize()[0]

In [ ]:
#Associar manualmente um valor ao outro
corres = {'X': 'A', 'Y': 'B'}
colunas = ['C','D']
df[colunas] = df[colunas].applymap(corres.get)

In [ ]:
#Diferenca de uma linha em relacao a anterior
df['X'] = df.Y.diff()
#Diferenca percentual
df['X Percentual'] = df.Y.pct_change()*100

In [ ]:
#Soma acumulada agrupada
df['soma_agrupada'] = df.groupby('X').Y.cumsum()

In [ ]:
#Inserir na coluna a contagem de frequencia de uma observacao
df['contagem_x'] = df.groupby('x').cumcount() + 1
df['contagem_x_e_y'] = df.groupby(['x','y']).cumcount() + 1

# Manipulacao de Strings

In [ ]:
#Concatenar com separador
df.Col1.str.cat(df.Col2, sep=',')

In [ ]:
#Split com a criacao de novas colunas
df[['novacoluna1','novacoluna2']] = df.col1.str.split(' ', expand = True) # o espaco entre as aspas é o elemento de split
df['novacoluna1'] = df.col1.str.split(',', expand = True)[0] #só pega o primeiro elemento do split
df['novacoluna1'] = df.col1.str.split(n=1).str[1] #splita apenas uma vez a string (n=1) e pega o segundo elemento (str[1])

In [ ]:
#Splita a string da linha de uma coluna e cria uma observacao nova para cada porçao do split
df.explode('Coluna do split')

# Manipulando Datas

In [ ]:
#concatenar coluna de dia , mes, ano
df['datacompleta'] = pd.to_datetime(df[['colmes', 'coldia','colano']])

# Amostragem

In [ ]:
df.sample(n=200, replace=True, random_state=2) #replace é com reposicao
df.sample(n=200, replace=True, random_state=2, weights='x') #atribui peso a amostragem por uma coluna

In [ ]:
#embaralhar dataframe
df.sample(frac=1, random_state=20)

In [ ]:
#separar em dois dataframes
df1 = df.sample(frac=0.75,random_state=2)
df2 = df.drop(df_1.index) #so funciona se o index for unico

# Gerando planilhas a partir do DataFrame

In [53]:
# Gerando uma planilha com algumas colunas
colunas = ['id','price','bedrooms','bathrooms','sqft_living','floors','waterfront']
dataset[colunas].head()

           id     price  bedrooms  bathrooms  sqft_living  floors  waterfront
0  7129300520  221900.0       3.0       1.00         1180     1.0           0
1  6414100192  538000.0       3.0       2.25         2570     2.0           0
2  5631500400  180000.0       2.0       1.00          770     1.0           0
3  2487200875  604000.0       4.0       3.00         1960     1.0           0
4  1954400510  510000.0       3.0       2.00         1680     1.0           0

In [9]:
# Escrevendo no disco a planilha sem o valor do índice.
dataset[colunas].to_excel('planilha_pandas.xls',index=False)

In [ ]:
#Ordenar valores
df.sort_values(by=['col1','col2'], ascending = False)

# Joins

In [55]:
#Inner Join #orders e orders_items sao tabelas
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on='order_id'
)

In [ ]:
#Left Join
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on='order_id',
                 how='left'
)

In [ ]:
#Right Join
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on='order_id',
                 how='right'
)

In [ ]:
#Outer
query = pd.merge(orders[['order_id','order_status','order_approved_at']],
                 orders_items[['order_id','product_id','seller_id','price','freight_value']],
                 on='order_id',
                 how='outer'
)

# Pré-Processamento

# Discretização

In [1]:
altura = [1.50,1.57,1.62,1.70,1.85,1.90]

In [5]:
altura = pd.qcut(altura,3,labels=['P','M','G'])

In [7]:
print(altura)

[P, P, M, M, G, G]
Categories (3, object): [P < M < G]

In [ ]:
#Discretização em DataFrame existente
dataset['NewVar'] = pd.cut(
    dataset['Var'],
    5,
    labels=['Cat1','Cat2','Cat3','Cat4','Cat5']
)

# Normalização - L2

In [21]:
from sklearn.preprocessing import Normalizer

In [62]:
dados = [
    [5, 3],
    [2.5, 4],
    [3, 7],
    [6, 19]
]

In [63]:
#Coloca os dados em uma unica lista/array
np.array(dados).reshape(-1)

array([ 5. ,  3. ,  2.5,  4. ,  3. ,  7. ,  6. , 19. ])

In [64]:
normalizacao = Normalizer().fit(dados)
dados2 = normalizacao.transform(dados)
print(dados2)

[[0.85749293 0.51449576]
 [0.52999894 0.8479983 ]
 [0.3939193  0.91914503]
 [0.30113137 0.95358267]]

# Normalizacao - Standarization

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [1]:
dados = dados.reshape(-1)
print(dados)

In [2]:
escala = MinMaxScaler().fit(dados)

In [31]:
dados

[[5, 3], [2.5, 4], [3, 7], [6, 19]]

In [32]:
dados_ajustados = escala.transform(dados)
print(dados_ajustados)

[[0.71428571 0.        ]
 [0.         0.0625    ]
 [0.14285714 0.25      ]
 [1.         1.        ]]

# Normalizacao - StandardScaler

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
escala2 = StandardScaler().fit(dados)

In [29]:
dados_ajustados = escala2.transform(data)
print(dados_ajustados)

[[-3.58218663 -0.97982725]
 [-2.53374176 -0.35273781]
 [-2.88322339  0.27435163]
 [-2.18426014  1.52853051]]