In [2]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [3]:
import pandas as pd
import geopy.distance

In [8]:
df = pd.read_excel('geo.xlsx')

In [9]:
df.head()

  Ponto        LAT       LONG
0     A -23.025952 -45.554848
1     B -23.100760 -45.705330
2     C -23.538040 -46.649858
3     D -21.699634 -45.256486
4     E -23.432447 -45.073185

In [20]:
dist = pd.DataFrame(columns=['Ponto1','Ponto2','distancia'])
for x,y,z in zip(df['LAT'],df['LONG'],df['Ponto']):
    for a,b,c in zip(df['LAT'],df['LONG'],df['Ponto']):
        coord1 = (x,y)
        coord2 = (a,b)
        D = geopy.distance.geodesic(coord1, coord2).km
        dist = dist.append({'Ponto1' : z, 'Ponto2' : c,'distancia': D}, ignore_index=True)

In [22]:
dist.head(25)

   Ponto1 Ponto2   distancia
0       A      A    0.000000
1       A      B   17.505061
2       A      C  125.564984
3       A      D  150.050489
4       A      E   66.759819
5       B      A   17.505061
6       B      B    0.000000
7       B      C  108.064460
8       B      D  161.891543
9       B      E   74.384063
10      C      A  125.564984
11      C      B  108.064460
12      C      C    0.000000
13      C      D  248.925173
14      C      E  161.484172
15      D      A  150.050489
16      D      B  161.891543
17      D      C  248.925173
18      D      D    0.000000
19      D      E  192.812105
20      E      A   66.759819
21      E      B   74.384063
22      E      C  161.484172
23      E      D  192.812105
24      E      E    0.000000